body, html { background: #000; margin:5; }
html { font: 10px "Lucida Console", Monaco, monospace; color: #ddd }

h2 { font-weight: 200; font-size: 12px; margin: 20px 35px; }

div.list { background: #000; padding: 30px 25px; }
div.foot { color: #fff; margin-top: 15px; padding: 20px 35px }
pre.readme {color: #0099FF; padding: 20px 35px; }

td { line-height: 21px; padding: 0px 85px; }
tr:hover { background: black; }

a { text-decoration:none; color: #FFFFFF; }
a:visited { text-decoration:none; color: #FFFFFF; }
a:hover { text-decoration:none; color: #595959; }
